# MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>/<db>?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://aifytech24_db_user:hngtask1@cluster0.rarjelz.mongodb.net/?appName=Cluster0
PORT=3000
